/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://wallpapercave.com/wp/3oWBxHN.jpg');
    --home-image: url('https://64.media.tumblr.com/4ea2eb8ce92255ae1f512e974f114e02/tumblr_oigcd87gjj1tc258so2_r1_500.gifv');
    --background-solid: #013F4D;
    --background-solid-dark: #7877e6 ;
    --background-solid-darker: #101218;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
    
    
}

